/*.selector {*/
/*    width: 580px;*/
/*    float: left;*/
/*}*/

/*.selector select {*/
/*    width: 270px;*/
/*    height: 17.2em;*/
/*}*/

/*.selector-available, .selector-chosen {*/
/*    float: left;*/
/*    width: 270px;*/
/*    text-align: center;*/
/*    margin-bottom: 5px;*/
/*    margin-top: 0px;*/
/*}*/

/*.selector-available h2, .selector-chosen h2 {*/
/*    border: 1px solid #ccc;*/
/*    background: white url(/static/img/nav-bg.gif) bottom left repeat-x;*/
/*    font-terminal_size: 15px;*/
/*    margin-bottom: 0px;*/
/*    margin-top: 0px;*/
/*}*/


/*.selector .selector-filter {*/
/*    background: white;*/
/*    border: 1px solid #ccc;*/
/*    border-width: 0 1px;*/
/*    padding: 3px;*/
/*    color: #999;*/
/*    font-terminal_size: 10px;*/
/*    margin: 0;*/
/*    text-align: left;*/
/*}*/

/*.selector .selector-chosen .selector-filter {*/
/*    padding: 4px 5px;*/
/*}*/

/*.selector ul.selector-chooser {*/
/*    float: left;*/
/*    width: 22px;*/
/*    height: 50px;*/
/*    !*background: url(/static/img/admin/chooser-bg.gif) top center no-repeat;*!*/
/*    margin: 8em 3px 0 3px;*/
/*    padding: 0;*/
/*}*/

/*.selector-chooser li {*/
/*    margin: 0;*/
/*    padding: 3px;*/
/*    list-style-type: none;*/
/*}*/

/*.selector select {*/
/*    margin-bottom: 5px;*/
/*    margin-top: 0;*/
/*}*/

/*.selector-add, .selector-remove {*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    display: block;*/
/*    padding-top: 2px;*/
/*    !*text-indent: -3000px;*!*/
/*}*/




/*!* STACKED SELECTORS *!*/

/*.stacked {*/
/*    float: left;*/
/*    width: 500px;*/
/*}*/

/*.stacked select {*/
/*    width: 480px;*/
/*    height: 10.1em;*/
/*}*/

/*.stacked .selector-available, .stacked .selector-chosen {*/
/*    width: 480px;*/
/*}*/

/*.stacked .selector-available {*/
/*    margin-bottom: 0;*/
/*}*/

/*.stacked .selector-available input {*/
/*    width: 442px;*/
/*    margin: 0px;*/
/*    height: 20px;*/
/*    padding-left: 5px;*/
/*    display: inline-block;*/
/*}*/

/*.stacked ul.selector-chooser {*/
/*    height: 28px;*/
/*    width: 200px;*/
/*    margin: 0 20% 3px 30%;*/
/*}*/

/*.stacked .selector-chooser li {*/
/*    height: 28px;*/
/*    float: left;*/
/*    padding: 3px 3px 3px 5px;*/
/*}*/


/* SELECTOR (FILTER INTERFACE) */

.selector {
    width: 800px;
    float: left;

}

.selector select {
    width: 380px;
    height: 17.2em;

}

.selector-available, .selector-chosen {
    float: left;
    width: 380px;
    text-align: center;
    margin-bottom: 5px;
}

.selector-chosen select {
    border-top: none;
}

.selector-available h2, .selector-chosen h2 {
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
}

.selector-chosen h2 {
    background: #2a7ed2;
    color: #fff;

}

.selector .selector-available h2 {
    background: #f8f8f8;
    color: #666;

}

.selector .selector-filter {
    background: white;
    border: 1px solid #ccc;
    border-width: 0 1px;
    padding: 8px;
    color: #999;
    font-size: 10px;
    margin: 0;
    text-align: left;
}

.selector .selector-filter label,
.inline-group .aligned .selector .selector-filter label {
    float: left;
    margin: 7px 0 0;
    width: 18px;
    height: 18px;
    padding: 0;
    overflow: hidden;
    line-height: 1;

}

.selector .selector-available input {
    width: 320px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    font-size: 13px;
}

.selector ul.selector-chooser {
    float: left;
    width: 22px;
    background-color: #eee;
    border-radius: 10px;
    margin: 10em 5px 0 5px;
    padding: 0;
}

.selector-chooser li {
    margin: 0;
    padding: 3px;
    list-style-type: none;
}

.selector select {
    padding: 0 10px;
    margin: 0 0 10px;
    border-radius: 0 0 4px 4px;
}

.selector-add, .selector-remove {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -3000px;
    overflow: hidden;
    cursor: default;
    opacity: 0.3;
}

.active.selector-add, .active.selector-remove {
    opacity: 1;
}

.active.selector-add:hover, .active.selector-remove:hover {
    cursor: pointer;
}

.selector-add {
    background: url(../img/selector/selector-icons.svg) 0 -96px no-repeat;
}

.active.selector-add:focus, .active.selector-add:hover {
    background-position: 0 -112px;
}

.selector-remove {
    background: url(../img/selector/selector-icons.svg) 0 -64px no-repeat;
}

.active.selector-remove:focus, .active.selector-remove:hover {
    background-position: 0 -80px;
}

a.selector-chooseall, a.selector-clearall {
    display: inline-block;
    height: 16px;
    text-align: left;
    margin: 1px auto 3px;
    overflow: hidden;
    font-weight: bold;
    line-height: 16px;
    color: #666;
    text-decoration: none;
    opacity: 0.3;
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus,
a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
    color: #447e9b;
}

a.active.selector-chooseall, a.active.selector-clearall {
    opacity: 1;
}

a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
    cursor: pointer;
}

a.selector-chooseall {
    padding: 0 18px 0 0;
    background: url(../img/selector/selector-icons.svg) right -160px no-repeat;
    cursor: default;
}

a.active.selector-chooseall:focus, a.active.selector-chooseall:hover {
    background-position: 100% -176px;
}

a.selector-clearall {
    padding: 0 0 0 18px;
    background: url(../img/selector/selector-icons.svg) 0 -128px no-repeat;
    cursor: default;
}

a.active.selector-clearall:focus, a.active.selector-clearall:hover {
    background-position: 0 -144px;
}

/* STACKED SELECTORS */

.stacked {
    float: left;
    width: 490px;
}

.stacked select {
    width: 480px;
    height: 10.1em;
}

.stacked .selector-available, .stacked .selector-chosen {
    width: 480px;
}

.stacked .selector-available {
    margin-bottom: 0;
}

.stacked .selector-available input {
    width: 422px;
}

.stacked ul.selector-chooser {
    height: 22px;
    width: 50px;
    margin: 0 0 10px 40%;
    background-color: #eee;
    border-radius: 10px;
}

.stacked .selector-chooser li {
    float: left;
    padding: 3px 3px 3px 5px;
}

.stacked .selector-chooseall, .stacked .selector-clearall {
    display: none;
}

.stacked .selector-add {
    background: url(../img/selector/selector-icons.svg) 0 -32px no-repeat;
    cursor: default;
}

.stacked .active.selector-add {
    background-position: 0 -48px;
    cursor: pointer;
}

.stacked .selector-remove {
    background: url(../img/selector/selector-icons.svg) 0 0 no-repeat;
    cursor: default;
}

.stacked .active.selector-remove {
    background-position: 0 -16px;
    cursor: pointer;
}

.selector .help-icon {
    background: url(../img/selector/icon-unknown.svg) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    width: 13px;
    height: 13px;
}

.selector .selector-chosen .help-icon {
    background: url(../img/selector/icon-unknown-alt.svg) 0 0 no-repeat;
}

.selector .search-label-icon {
    background: url(../img/selector/search.svg) 0 0 no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
}
