{% load static %}

<script src="{% static 'js/select2.full.min.js' %}"></script>
<script>
    function searchElement(){
        var host = $(".search-autocomplete").select2('data');
        if (host.length === 1){
            var url = $("#search-data").data("update-url") + host[0].id +'/';
            window.location = url;
        }
    }

    $(".search-autocomplete").select2({
        tags: true,
        //tokenSeparators: [","],
        multiple: false,
        placeholder: $("#search-data").data("placeholder"),
        ajax: {
            url: $("#search-data").data("autocomplete-url"),
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;

                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                };
            },
            cache: true
        },
        //escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 1,
        //templateResult: formatUpdate, // omitted for brevity, see the source of this page
        //templateSelection: formatUpdateSelection // omitted for brevity, see the source of this page
    });

    $('.search-autocomplete').on("select2:selecting", function(e) {
        $("#search_button").attr('disabled', false);
    });
</script>
