{% extends "web/base.html" %}

{% block main_content %}
     <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><strong>Blackhole</strong> {% trans 'Web Administracion' %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
{% endblock %}
