{% extends "web/base.html" %}
{% load i18n static %}
{% block extra_css %}
    {#    <link href="/static/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet" xmlns="http://www.w3.org/1999/html">#}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
    {% block list_table %}
    {% endblock %}
    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
