{% load staticfiles %}
{% load i18n %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "img/blackhole-small.png" %}"></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <strong>{% trans 'Welcome' %}, {{ user }} </strong><i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                {% if perms.auth.add_user %}
                    <li>
                    <a href="#"><i class="fa fa-gears fa-fw"></i> {% trans 'Admin' %}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'admin_user_create' %}" onclick="showLoader()"><span class="fa fa-caret-right"></span> {% trans 'Create' %} {% trans 'User' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_user_list' %}" onclick="showLoader()"><span class="fa fa-caret-right"></span> {% trans 'List' %} {% trans 'Users' %}</a>
                    </li>


                    </ul>
                    <!-- /.nav-second-level -->
                    </li>
                  {% endif %}
                <li>
                    <a href="#"><i class="fa fa-group fa-fw"></i> {% trans 'Users' %}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if perms.web.add_appuser %}
                            <li>
                                <a href="{% url 'app_user_create' %}" onclick="showLoader()"><i class="fa fa-user fa-fw"></i> {% trans 'Create' %} {% trans 'User' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'app_user_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Users' %}</a>
                            </li>
                        {% endif %}
                        {% if perms.web.add_profile %}
                            <li>
                                <a href="{% url 'profile_create' %}" onclick="showLoader()"><i class="fa fa-group fa-fw"></i> {% trans 'Create' %} {% trans 'Profile' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'profile_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Profiles' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop fa-fw"></i> {% trans 'SSH' %}, {% trans 'Database' %} {% trans 'and' %} {% trans 'Environments' %}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if perms.web.add_host %}
                            <li>
                                <a href="{% url 'secure_shell_create' %}" onclick="showLoader()"><i class="fa fa-terminal fa-fw"></i> {% trans 'Create' %} {% trans 'Secure Shell' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'secure_shell_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Secure Shell' %}</a>
                            </li>
                        {% endif %}
                        {% if perms.web.add_database %}
                            <li>
                                <a href="{% url 'database_create' %}" onclick="showLoader()"><i class="fa fa-database fa-fw"></i> {% trans 'Create' %} {% trans 'Database' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'database_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Database' %}</a>
                            </li>
                        {% endif %}
                        {% if perms.web.add_environment %}
                            <li>
                                <a href="{% url 'environment_create' %}" onclick="showLoader()"><i class="fa fa-archive fa-fw"></i> {% trans 'Create' %} {% trans 'Environment' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'environment_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Environments' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-key fa-fw"></i> {% trans 'Authentication' %}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if perms.web.add_privatekey %}
                            <li>
                                <a href="{% url 'privatekey_create' %}" onclick="showLoader()"><i class="fa fa-key fa-fw"></i> {% trans 'Create' %} {% trans 'Private Key' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'privatekey_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Private Keys' %}</a>
                            </li>
                        {% endif %}
                        {% if perms.web.add_secureshellconnection %}
                            <li>
                                <a href="{% url 'secure_shell_connection_create' %}" onclick="showLoader()"><i class="fa fa-user-secret fa-fw"></i><i class="fa fa-terminal fa-fw"></i> {% trans 'Create' %} {% trans 'Secure Shell Connection' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'secure_shell_connection_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Secure Shell Connections' %}</a>
                            </li>
                        {% endif %}
                        {% if perms.web.add_databaseconnection %}
                            <li>
                                <a href="{% url 'database_connection_create' %}" onclick="showLoader()"><i class="fa fa-user-secret fa-fw"></i><i class="fa fa-database fa-fw"></i> {% trans 'Create' %} {% trans 'Database Connection' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'database_connection_list' %}" onclick="showLoader()"><i class="fa fa-list fa-fw"></i> {% trans 'List' %} {% trans 'Database Connection' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                {% if perms.web.view_session_logs %}
                    <li>
                        <a href="{% url 'active_sessions' %}" onclick="showLoader()"><i class="fa fa-eye fa-fw"></i> {% trans 'Active Sessions' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'find_sessionlog' %}" onclick="showLoader()"><i class="fa fa-calendar fa-fw"></i> {% trans 'Session Records' %}</a>
                    </li>
                {% endif %}
            {% comment "Disable license" %}
               {% if perms.web.manage_license %}
                    <li>
                        <a href="{% url 'manage_license' %}" onclick="showLoader()"><i class="fa fa-lock fa-fw"></i> {% trans 'License Management' %}</a>
                    </li>
                {% endif %}
            {% endcomment %}


                <!-- /.nav-second-level -->
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
