{% extends "web/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Active Sessions' %}{% endblock %}
{% block extra_css %}
    <link href="{% static "css/ansi.css" %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script type="application/javascript">
        function stream_session() {
            var session_uuid = "lalala";
            var sessionStreamSocket = new WebSocket('ws://' + window.location.host + '/ws/session_stream/' + session_uuid + '/');

            sessionStreamSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                console.log(message);
            };

            sessionStreamSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
        }
    </script>
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans 'Active Sessions' %}</h1>
        </div>
        <div class="col-lg-10">
            <div>
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Host' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Connected as' %}</th>
                        <th>{% trans 'Connected from' %}</th>
                        <th>{% trans 'Login date' %}</th>
                        <th>{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody id="active_sessions"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="session-title">Session</h4>
                </div>
                <div class="modal-body">
                    <div class="body_foreground body_background" style="font-size: normal;" >
                        <pre class="ansi2html-content">
                            <div id="session-content"></div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
