{% extends "web/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Active Sessions' %}{% endblock %}
{% block extra_css %}
    <link href="{% static "css/ansi.css" %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script type="application/javascript">
        var sessions_refresh_interval;
        var session_reload_interval;
        var sessions_refresh_time = 3000;
        var session_reload_time = 2000;

        function kill_session(user, id){
            clearInterval(sessions_refresh_interval);
            var r = confirm("Confirm kill the session of the user " + user + "?");
            if (r == true){
                $.ajax({url: '{% url 'kill_session_ws' %}',
                    data: {id: id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    method: 'POST'
                }).done(function(data){
                    get_sessions(true);
                });
            }
            sessions_refresh_interval = setInterval("get_sessions()", sessions_refresh_time);
        }

        function reload_session_content(url){
            $('#session-content').load(url, function(){
                session_reload_interval = setTimeout(function(){ reload_session_content(url)}, session_reload_time);
            });
        }

        function stream_session(id){
            var url = '/web/services/session_log/streaming/' + id;
            $('#sessionModal').modal('show');
            reload_session_content(url);
            $('#sessionModal').on('hidden.bs.modal', function (e) {
                clearTimeout(session_reload_interval);
            })
        }

        function get_sessions(){
            url = "{% url 'get_sessions_ws' %}";
            $.getJSON(url, function(json_data){
                sessions_div = $("#active_sessions");
                sessions_div.empty();
                $.each(json_data, function(){
                    table_line = $("<tr>")
                            .append($("<td>").append(this.username))
                            .append($("<td>").append(this.target))
                            .append($("<td>").append(this.connection_type))
                            .append($("<td>").append(this.target_user))
                            .append($("<td>").append(this.source_ip))
                            {#.append($("<td>").append(new Date(this.login_date)))#}
                            {#.append("<td><a target='_blank' href='/web/services/session_log/download/" + this.id + "' class='btn btn-info btn-xs'><li class='glyphicon glyphicon-floppy-save'></li></a><a target='_blank' onclick=stream_session(" + this.id + "); class='btn btn-primary btn-xs'><span class='fa fa-eye'></span></a><a target='_blank' onclick=kill_session('" + this.real_user + "'," + this.id + "); class='btn btn-danger btn-xs'><span class='fa fa-close'></span></a></td>");#}
                        .append("<td><a target='_blank' href='/web/services/session_log/download/" + this.id + "' class='btn btn-info btn-xs'><li class='glyphicon glyphicon-floppy-save'></li></a><a target='_blank' onclick=kill_session('" + this.real_user + "'," + this.id + "); class='btn btn-danger btn-xs'><span class='fa fa-close'></span></a></td>");
                    sessions_div.append(table_line);
                });
            })
        }
        $(function(){
            get_sessions();
            sessions_refresh_interval = setInterval("get_sessions()", sessions_refresh_time);
        })
    </script>
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans 'Active Sessions' %}</h1>
        </div>
        <div class="col-lg-10">
            <div>
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Host' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Connected as' %}</th>
                        <th>{% trans 'Connected from' %}</th>
{#                        <th>{% trans 'Login date' %}</th>#}
                        <th>{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody id="active_sessions"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="session-title">Session</h4>
                </div>
                <div class="modal-body">
                    <div class="body_foreground body_background" style="font-size: normal;" >
                        <pre class="ansi2html-content">
                            <div id="session-content"></div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
