{% extends "web/_list.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Users' %}{% endblock %}

{% block list_table %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-user fa-fw"></i> {% trans 'Users' %}</h1>
                </div>
                {% if object_list %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>{% trans 'User' %}</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Last Name' %}</th>
                            <th>{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.username }}</td>
                                <td>{{ object.first_name }}</td>
                                <td>{{ object.last_name }}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" href="{% url 'admin_user_update' object.id %}" onclick="showLoader()"><i class="fa fa-edit fa-fw"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    {% if is_paginated %}
                        {% bootstrap_pagination  page_obj %}
                     {% endif %}
                {% endif %}
            </div>
{% endblock %}
