{% extends "web/_list.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Users' %}{% endblock %}



{% block extra_js %}
    {{ block.super }}
    {% include "web/_ajax_search.html" %}
{% endblock %}

{% block list_table %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user fa-fw"></i> {% trans 'Users' %}</h1>
        </div>
        <div class="col-lg-4">
            <div id="search-data" data-autocomplete-url="{% url 'appuser_autocomplete' %}" data-placeholder="{% trans 'Search' %} {% trans 'User' %}" data-update-url="/web/app_user/update/">
                <div class="form-group">
                    <select class="search-autocomplete form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button id="search_button" class="btn btn-success" onclick="searchElement()" disabled><i class="fa fa-search"></i> {% trans 'Edit' %}</button>
        </div>
        {% if object_list %}
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Last Name' %}</th>
                    <th>{% trans 'Profile' %}</th>
                    <th>{% trans 'Enabled' %}</th>
                    <th>{% trans 'Last Login' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr {% if not object.enabled %}class='danger'{% endif %}>
                        <td>{{ object.username }}</td>
                        <td>{{ object.first_name }}</td>
                        <td>{{ object.last_name }}</td>
                        <td>{{ object.profile }}</td>
                        <td>{% if object.enabled %}<i class="fa fa-check fa-fw"></i>{% else %}<i class="fa fa-times fa-fw"></i>{% endif %}</td>
                        <td>{{ object.last_login }}</td>
                        <td>
                            <a class="btn btn-success btn-xs" href="{% url 'app_user_update' object.id %}" onclick="showLoader()"><i class="fa fa-edit fa-fw"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% bootstrap_pagination  page_obj %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
