{% extends "web/_update.html" %}
{% load bootstrap3 static %}
{% load i18n %}
{% block title %}{% trans 'Update' %} {% trans 'User' %}{% endblock %}

{% block extra_js %}
    <script src="{% static  "js/SelectBox.js" %}"></script>
    <script src="{% static  "js/selectFilter2.js" %}"></script>
{% endblock %}

{% block update_form %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-user fa-fw"></i> {% trans 'Update' %} {% trans 'User' %}</h1>
                </div>
            <div class="col-lg-5">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success" onclick="showLoader()">
                            {% bootstrap_icon "ok-circle" %} {% trans 'Update' %}
                        </button>
                        <a href="{% url 'app_user_list' %}" class="btn btn-primary">{% bootstrap_icon "remove-circle" %} {% trans 'Cancel' %}</a>
                        <span class="btn btn-danger" onclick="showModalDialog('{% url 'app_user_delete' object.id %}')"><i class="fa fa-trash-o fa-fw"></i> {% trans 'Delete' %}</span>
                    {% endbuttons %}
                </form>
            </div>
            </div>
{% endblock %}
