{% extends "_base.html" %}
{% load i18n %}
{% block title %}Blackhole{% endblock %}
{% block content %}
    <div id="wrapper">
    {% include "web/_navbar.html" %}
         <div id="page-wrapper">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
