{% extends "web/_list.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Database Connection' %}{% endblock %}


{% block extra_js %}
    {{ block.super }}
    {% include "web/_ajax_search.html" %}
{% endblock %}

{% block list_table %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user-secret fa-fw"></i><i class="fa fa-database fa-fw"></i> {% trans 'Database Connections' %}</h1>
        </div>
        <div class="col-lg-4">
            <div id="search-data" data-autocomplete-url="{% url 'database_connection_autocomplete' %}" data-placeholder="{% trans 'Search' %} {% trans 'Database Conection' %}" data-update-url="/web/db_connection/update/">
                <div class="form-group">
                    <select class="search-autocomplete form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button id="search_button" class="btn btn-success" onclick="searchElement()" disabled><i class="fa fa-search"></i> {% trans 'Edit' %}</button>
        </div>

        {% if object_list %}
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>{% trans 'Authentication User' %}</th>
                    <th>{% trans 'Host' %}</th>
                    <th>{% trans 'IP' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.user }}</td>
                        <td>{{ object.target.name }}</td>
                        <td>{{ object.target.ip }}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" onclick="showModalDialog('{% url 'database_connection_delete' object.id %}')"><i class="fa fa-trash-o fa-fw"></i></button>
                            <a class="btn btn-success btn-xs" href="{% url 'database_connection_update' object.id %}" onclick="showLoader()"><i class="fa fa-edit fa-fw"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% bootstrap_pagination  page_obj %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
