{% extends "web/base.html" %}
{% load bootstrap3 staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Search Session Logs' %}{% endblock %}

{% block extra_css %}
    <link href="{% static "css/jquery.datetimepicker.css" %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="{% static  "js/jquery.datetimepicker.js" %}"></script>
    <script type="application/javascript">
        $(function(){
            jQuery('.datePicker').datetimepicker({timepicker:false, format:'d/m/Y'});
        });
    </script>
{% endblock %}

{% block main_content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% trans 'Session Records' %}</h1>
                </div>
            </div>
    <p>
    <a class="btn btn-info btn-sm" data-toggle="collapse" href="#collapseSearchForm" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-plus fa-fw"></i> Search Form
  </a>
    </p>
    <div class="collapse" id="collapseSearchForm">
        <div class="col-lg-5">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-success">
                        {% bootstrap_icon "search" %} {% trans 'Search' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    {% if object_list %}
        <div class="col-lg-12">
        <table class="table table-condesed">
            <thead>
            <tr>
                    <th>{% trans 'user' %}</th>
                    <th>{% trans 'host' %}</th>
                    <th>{% trans 'type' %}</th>
                    <th>{% trans 'login/logout' %}</th>
                    <th>{% trans 'session id' %}</th>
                    <th>{% trans 'from' %}</th>
                    <th>{% trans 'download' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for session_log in object_list %}
                <tr>
                        <td>{{ session_log.username }}</td>
                        <td>{{ session_log.target }}</td>
                        <td>{{ session_log.connection_type }}</td>
                        <td>{{ session_log.login_date }} / {{ session_log.logout_date }}</td>
                        <td>{{ session_log.session_id }}</td>
                        <td>{{ session_log.source_ip }}</td>
                        {% if session_log.can_download_log %}
                            <td><a type="button" class="btn btn-success btn-sm" href="{% url 'download_session_log' session_log.id %}"><i class="fa fa-cloud-download fa-fw"></i> </a></td>
                        {% else %}
                            <td><a type="button" class="btn btn-danger btn-sm" disabled><i class="fa fa-cloud-download fa-fw"></i> </a></td>
                        {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
