{% extends "web/_list.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Groups' %}{% endblock %}

{% block list_table %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-group fa-fw"></i> {% trans 'Groups' %}</h1>
                </div>
                {% if object_list %}
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td>
                                    <button class="btn btn-xs btn-danger" onclick="showModalDialog('{% url 'group_delete' object.id %}')"><i class="fa fa-trash-o fa-fw"></i></button>
                                    <a class="btn btn-xs btn-success" href="{% url 'group_update' object.id %}" onclick="showLoader()"><i class="fa fa-edit fa-fw"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    {% if is_paginated %}
                        {% bootstrap_pagination  page_obj %}
                     {% endif %}
                {% endif %}
            </div>
{% endblock %}
