{% extends "web/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Create' %} {% trans 'Group' %}{% endblock %}

{% block extra_js %}
    <script type="application/javascript">
    jQuery.each($("select[multiple]"), function () {
     label = $(this).parent().find("label").html();
     SelectFilter.init(this.id, label, true, "/static/");
    });
    </script>
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-group fa-fw"></i> {% trans 'Create' %} {% trans 'Group' %}</h1>
        </div>
        <div class="col-lg-5">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok-circle" %} {% trans 'Create' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
