{% extends "web/base.html" %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Home' %}{% endblock %}

{% block main_content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><img src="{% static "img/blackhole.png" %}" height="42" width="42"><strong>Blackhole</strong> {% trans 'Administration' %}</h1>
                </div>
            </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
{% endblock %}
