{% extends "_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Login' %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Blackhole [{% trans 'Login' %}]</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "ok-circle" %} {% trans 'Login' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
