{% extends "web/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'License Management' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans 'License Management' %}</h1>
        </div>
        <div class="col-lg-6">
            <div>
                <table class="table table-condensed">
                    <tr><td>{% trans 'Name' %}</td><td>{{ license_data.name }}</td></tr>
                    <tr><td>{% trans 'Valid License' %}</td><td>{% if is_license_active %}<span class="label label-success">{% trans 'Yes' %}</span>{% else %}<span class="label label-danger">{% trans 'No' %}</span>{% endif %}</td></tr>
                    <tr><td>{% trans 'Valid From' %}</td><td>{{ valid_from }}</td></tr>
                    <tr><td>{% trans 'Valid Until' %}</td><td>{{ valid_until }}</td></tr>
                    <tr><td>{% trans 'Valid Days' %}</td><td>{{ license_data.valid_days }}</td></tr>
                    <tr><td>{% trans 'Created Targets' %}</td><td>{{ created_targets_count }} / {{ license_data.targets }}</td></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
