{% extends "web/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Create' %} {% trans 'Private Key' %}{% endblock %}
{% block extra_js %}
<script type="application/javascript">
    function generate_private_key(event){
        event.preventDefault();
        showLoader();
        var key_type = $('#id_key_type').val();
        var user =  $('#id_user').val();
        if (user !== "") {
            username = $('#id_user').find(":selected").text();
            if (key_type !== ''){
                var url = "{% url 'generate_private_key' %}";
                $.get(url, {'key_type': key_type, 'user': username}, function(private_key){
                    $('#id_private_key').val(private_key.private);
                    $('#id_public_key').val(private_key.public);
                    hideLoader();
                })
            }
            else{
                hideLoader();
                alert("Select a Key Type");
            }
        }else {
            hideLoader();
            alert("Select a User");
        }
    }
</script>
{% endblock %}
{% block main_content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-key fa-fw"></i> {% trans 'Create' %} {% trans 'Private Key' %}</h1>
                </div>
            <div class="col-lg-5">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "ok-circle" %} {% trans 'Create' %}
                        </button>
                        <button id="generate_key_button" class="btn btn-primary" onclick="generate_private_key(event)"><i class="fa fa-key fa-fw"></i> {% trans 'Generate Key' %} </button>
                    {% endbuttons %}
                </form>
            </div>
            </div>
{% endblock %}
