{% extends "web/base.html" %}
{% load bootstrap3 static %}
{% load i18n %}
{% block title %}{% trans 'Create' %} {% trans 'Profile' %}{% endblock %}


{% block extra_js %}
    <script src="{% static  "js/SelectBox.js" %}"></script>
    <script src="{% static  "js/selectFilter2.js" %}"></script>
{% endblock %}

{% block main_content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-group fa-fw"></i> {% trans 'Create' %} {% trans 'Profile' %}</h1>
                </div>
            <div class="col-lg-5">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "ok-circle" %} {% trans 'Create' %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
            </div>
{% endblock %}
