{% extends "web/_list.html" %}
{% load bootstrap3 static %}
{% load i18n %}
{% block title %}{% trans 'Secure Shell' %}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "web/_ajax_search.html" %}
{% endblock %}

{% block list_table %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-terminal fa-fw"></i> {% trans 'Secure Shell' %}</h1>
        </div>
        <div class="col-lg-4">
            <div id="search-data" data-autocomplete-url="{% url 'secure_shell_autocomplete' %}" data-placeholder="{% trans 'Search' %} {% trans 'Secure Shell' %}" data-update-url="/web/secure_shell/update/">
                <div class="form-group">
                    <select class="search-autocomplete form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button id="search_button" class="btn btn-success" onclick="searchElement()" disabled><i class="fa fa-search"></i> {% trans 'Edit' %}</button>
        </div>

        {% if object_list %}
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'IP' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Environment' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.name }}</td>
                        <td>{{ object.ip }}</td>
                        <td>{{ object.get_device_type_display }}</td>
                        <td>{{ object.environment }}</td>
                        <td>
                            <button class="btn btn-xs btn-danger btn-xs" onclick="showModalDialog('{% url 'secure_shell_delete' object.id %}')"><i class="fa fa-trash-o fa-fw"></i></button>
                            <a class="btn btn-xs btn-success btn-xs" href="{% url 'secure_shell_update' object.id %}" onclick="showLoader()"><i class="fa fa-edit fa-fw"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                {% bootstrap_pagination  page_obj %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

