{% extends "web/_update.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %}{% trans 'Update' %} {% trans 'host' %}{% endblock %}

{% block update_form %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% trans 'Update' %} {% trans 'host' %}</h1>
                </div>
            <div class="col-lg-5">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success">
                            {% bootstrap_icon "ok-circle" %} {% trans 'Update' %}
                        </button>
                        <a href="{% url 'secure_shell_list' %}" class="btn btn-primary">{% bootstrap_icon "remove-circle" %} {% trans 'Cancel' %}</a>
                    <span class="btn btn-danger" onclick="showModalDialog('{% url 'secure_shell_delete' object.id %}')"><i class="fa fa-trash-o fa-fw"></i> {% trans 'Delete' %}</span>
                    {% endbuttons %}
                </form>
            </div>
            </div>
{% endblock %}
